.dashboard {

  .banner {
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45),
    ), url('../imgs/Banner.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &--inner {
      text-align: center;
      color: #fff;
      padding: 60px;
      background-color: rgba(0, 0, 0, 0.45);
      transform: translateY(-50%);
      border-radius: 3px;

      h2 {
        margin: 10px 0;
      }

      button {
        padding: 10px;
        border-radius: 3px;
        border: none;
        background-color: #1aae9f;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  .projects {
    padding: 60px 10px;
    
    &-inner {
      margin: 0 auto;
      max-width: 1200px;

      &--section-title {
        display: flex;
        justify-content: space-between;
      }
  
      &--item-container {
        display: flex;
        flex-wrap: wrap;
  
        &__item {
          flex-basis: calc(25% - 10px);
          margin: 5px;
          border: 2px solid #eee;
          
          .img-container {
            height: 200px;
            width: 100%;
            text-align: center;
            border-bottom: 2px solid #eee;
  
            img {
              width: 100%;
              height: 100%;
            }
          }
  
          .content-container {
            padding: 20px 10px;
  
            h6 {
              text-align: center;
            }
          }
        }
      }
    }
  }
}