nav {
  background-color: #2a82d0;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .entrance {
    display: flex;

    li {
      margin: 5px 10px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: right 500ms ease-in-out;
      }
      
      &:hover::after {
        right: 0;
      }
    }
  }
}