nav {
  background-color: #2a82d0;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 { color: #fff };

  // Submit button
  .loading-img-container {
    height: 20px;
    text-align: right;

    img {
      height: 100%;
    }
  }

  .entrance {
    display: flex;

    li {
      margin: 5px 10px;
      position: relative;

      &:hover form, form:focus-within {
        opacity: 1;
        visibility: initial;
        transform: translateY(100%);
      }

      span {
        cursor: pointer;
      }

      form {
        opacity: 0;
        visibility: hidden;
        color: #333;
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        bottom: -15px;
        padding: 15px;
        background: #EEE;
        border-radius: 2px;
        transition: all 250ms ease-in-out;
        transform: translateY(95%);

        &::before {
          content: '';
          position: absolute;
          border-style: solid;
          border-width: 0 20px 15px;
          border-color: #EEE transparent;
          display: block;
          width: 0;
          z-index: 1;
          top: -15px;
          left: 80%;
        }
      }
    }
  }

  .profile {
    position: relative;
    padding: 5px;

    
    &--img-conatiner {
      width: 25px;
      display: block;

      &:hover + ul {
        opacity: 1;
        visibility: initial;
        transform: translateY(100%);
      }
      
      &__img {
        width: 100%;
      }

    }

    &--options {
      opacity: 0;
        visibility: hidden;
        color: #333;
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        bottom: -15px;
        padding: 15px;
        background: #EEE;
        border-radius: 2px;
        transition: all 250ms ease-in-out;
        transform: translateY(95%);

      &::before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 20px 15px;
        border-color: #EEE transparent;
        display: block;
        width: 0;
        z-index: 1;
        top: -15px;
        left: 50%;
      }

      &:hover {
        opacity: 1;
        visibility: initial;
        transform: translateY(100%);
      }

      li {
        cursor: pointer;
      }
    }

    &--edit-user {
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
      background: rgba(0,0,0,.75);
      z-index: 1;

      &.active {
        display: block;
      }

      &__form {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        background: #2a82d0;
        padding: 20px;
        border-radius: 3px;

        .exit {
          position: absolute;
          right: 0;
          top: 0;
          padding: 5px;
          font-size: 1.2rem;
          cursor: pointer;
        }

        input, button {
          padding: 2px;
          margin: 2px;
        }

        button {
          cursor: pointer;
        }
      }
    }
  }
}