.project-form {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 10px;

  h2 {
    margin: 10px 0;
  }

  &--form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    margin: auto;

    & > * {
      margin: 2px;
    }


    &__funded {
      text-align: center;
  
      input {
        margin: 5px;
      }
    }
  }
}

.stripe-form {

  .loading-img-container {
    height: 20px;
    display: block;

    img {
      height: 100%;
    }
  }
}